//Widget Header
.widget-header {
    background: $blue;
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}

// setup an element selector for widget-header
// set margin 0
// use the class.